* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.form {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dddddd;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.header-container h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    flex-grow: 1;
}

.header-container svg {
    cursor: pointer;
    margin-left: 10px;
    height: 38px;
    width: 38px;
    margin-bottom: 15px ;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-row, .form-row-two {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.form label {
    display: block;
    margin-bottom: 3px;
}

.form input, .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-container button {
    width: 18%;
    padding: 12px;
    background-color: #ccc;
    border: 1px solid #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
}

.button-container {
    text-align: center;
    margin-top: 8px;
}

.button-container button:hover {
    background-color: #bbb;
}

.form-group.small-group {
    max-width: 110px;
}

.form-group.small-group-two {
    max-width: 220px;
}

.form-group.large-group {
    max-width: 100%;
}

textarea {
    width: 100%;
    height: 100px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.form-row .form-group, .form-row-two .form-group {
    flex: 1;
}

.form-row #adicionar-servico, .form-row #adicionar-pagamento {
    margin-bottom: -6px;
}

#adicionar-servico, #adicionar-pagamento {
    height: 40px;
    padding: 0 15px; 
    display: inline-block;
}

#servicos-selecionados, #pagamentos-selecionados {
    display: flex; 
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.form-row .servico, .form-row .pagamentos {
    font-style: italic;
}

#servicos-selecionados li, #pagamentos-selecionados li {
    background-color: #f0f0f0; 
    padding: 6px 10px; 
    margin-top: 80px;
    margin: 5px; 
    border-radius: 5px; 
    display: inline-block;
}

.form-row-two {
    margin-top: 20px;
}

.form-group.invisible {
    visibility: hidden; /* A div ocupa espaço, mas não é visível */
}