* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.form {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dddddd;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.header-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: 12px;
    flex-grow: 1;
}

.header-container svg {
    cursor: pointer;
    margin-left: 10px;
    height: 38px;
    width: 38px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 8px;
}

.form label {
    display: block;
    margin-bottom: 3px;
}

.form input, .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-container button {
    width: 18%;
    padding: 12px;
    background-color: #ccc;
    border: 1px solid #000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
}

.button-container {
    text-align: center;
    margin-top: 8px;
}

.button-container button:hover {
    background-color: #bbb;
}

.form-group.small-group {
    max-width: 110px;
}

.form-group.small-group-two {
    max-width: 220px;
}

.form-row .form-group {
    flex: 1;
}

#formDetails {
    display: none;
}

#formDetails table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#formDetails th, #formDetails td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#formDetails th {
    background-color: #f4f4f4;
}

#formDetails td a {
    color: blue;
    text-decoration: none;
}

#formDetails td a:hover {
    text-decoration: underline;
}

#formDetails tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr svg {
    margin-right: -2px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.blur {
    filter: blur(0.2px);
    opacity: 0.3; 
    pointer-events: none;
}

.form-row #adicionar-pagamento {
    margin-bottom: -6px;
    margin-top: -8px;
}

#adicionar-pagamento {
    height: 30px;
    padding: 0 15px; 
    display: inline-block;
    cursor: pointer;
}

#pagamentos-selecionados {
    display: flex; 
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-top: -17px;
}

.form-row .pagamentos {
    font-size: 13px;
}

#pagamentos-selecionados li {
    background-color: #f0f0f0; 
    padding: 6px 10px; 
    margin-top: 10px;
    margin: 5px; 
    border-radius: 5px; 
    display: inline-block;
}

/* Modal editar pagamento */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-inner {
    background-color: #fff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
}

.modal h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal p {
    margin-bottom: 20px;
}

.modal .form-row {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    margin-bottom: 15px; /* Espaçamento entre os grupos */
    margin-top: 3px;
    font-size: 14px;
}

.modal .form-group {
    display: flex;
    flex-direction: column; /* Coloca os campos em coluna */
    margin-bottom: -4px;
}

.modal label {
    margin-bottom: 6px; /* Espaçamento entre o rótulo e o campo */
    font-weight: bold; /* Destaca os rótulos */
    font-size: 14px;
}

.modal input, .modal select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 10px); 
    margin-left: 5px; 
    margin-right: 5px; 
}

.modal .button-row {
    display: flex;
    justify-content: center; /* Alinha os botões ao centro */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 10px;
}

.modal .button-row button {
    width: 120px; /* Define uma largura fixa para ambos os botões */
    padding: 10px;
    background-color: #fefefe;
    color: black;
    border: 2px solid rgba(215, 51, 37, 0.906);;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.modal #cancelar {
    border-color: black; 
}

.modal #confirmar:hover, .modal #cancelar:hover {
    background-color: #f0eeee; 
}

#modal-content p {
    margin: 0; 
    line-height: 1.2; 
}